.event-container {
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  min-height: 1em;
  width: 90%;
  align-items: center;
  flex-direction: column;
  color: black;
}

.event-img {
  max-height: 10em;
  width: 12em;
  margin: auto;
}

.event-item {
  width: 100%;
  margin-bottom: 0;
  .yelp-logo {
    max-height: 3em;
  }
}

.travel-time {
  .panel-heading {
    padding: .5em;
    height: 100%;
  }
  .vertical-timeline-element-content {
    background-color:  rgba(0, 0, 0, 0);
  }
  .vertical-timeline-element-icon {
  display: none;
  }
}

.event-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: left;
  align-items: center;
  .list-group-item {
    border: 0;
  }
  .list-group {
    margin: 0;
    max-width: 25em;
  }
}


.vertical-timeline-element-content {
  padding: 0;
  box-shadow: 0 0 0 black;
  background-color:  rgba(0, 0, 0, 0);
}

.vertical-timeline-element-content::before {
  border: 0;
}
