.map {
  width: 80%;
  height: 150%;
}

@media only screen and (max-width: 800px) {
  .map {
    width: 100%;
    height: 100vh;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0;
  }
}