.login-modal {
  width: 50%;
  text-align: center;
  margin-top: 15%;
}

@media only screen and (max-width: 800px) {
  .login-modal {
    width: 95%;
    margin-top: 15%;
  }
}

.login-link a {
  text-decoration: none;
  color: grey;
}

.login-link a:hover {
  opacity: 0.5;
}

.sign-up-link a {
  text-decoration: none;
  color: grey;
}

.sign-up-link a:hover {
  opacity: 0.5;
}

.createAccount {
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}