.main-container {
  border-color:red;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}