.main-container {
  border: 1px solid black;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  min-height: 1em;
  align-items: center;
  flex-direction: column;
}